body{
    background-color:cornsilk;
    font-family: 'Times New Roman';
}

.container-main{
    margin: 2%;
    background-color: burlywood;
    padding: 1%;
}

.center-text{
    text-align: center;
}

.container-main-2{
    text-align: justify;
    margin: 5%;
    padding: 2%;
}